* {
    margin: 0;
    padding: 0;
}

* {
/*            -moz-user-select: -moz-none;
    -webkit-user-select: none;*/
}

html {
    overflow: hidden;
}

header {
    z-index: 1000;
    position: relative;
    background: white;
    border: 1px solid #999;
    border-top: none;
}

#dashboard-edit-panel {
    z-index: 1010;
    background: #999;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
}

#dep-inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    
    background-color: #eee;
}


/* Devices */

#dep-devices {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 160px;
    bottom: 10px;
    
    padding: 10px;
}

.dep-device {
    position: relative;
    float: left;
    width: 130px;
    height: 150px;
    
    margin-right: 20px;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
    
    -webkit-border-radius: 6px;
    border: 1px solid #ccc;
}

.dep-device .dep-device-image {
    background: top center no-repeat url('/static/images/dashboard/server.png');
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
}

.dep-device.placed .dep-device-image {
    background-image: url('');
}

.dep-device.not-placed .dep-device-image {
    cursor: move;
}

.dep-device .dep-device-image-empty {
    background: top center no-repeat url('/static/images/dashboard/server-empty.png');
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
}

.dep-device .dep-device-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    
    text-transform: uppercase;
    font-size: 14px;
}


/* Other Devices */

#dep-other-devices {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    
    width: 130px;
    
    padding: 10px;
}

#dep-other-devices #dep-device-switch.dep-device {
    float: right;
    margin: 0;
}

#dep-other-devices #dep-device-switch.dep-device .dep-device-image {
    background-image: url('/static/images/dashboard/switch.png');
    background-position: 10px center;
}

#dep-other-devices #dep-device-switch.dep-device .dep-device-image-empty {
    background-image: url('/static/images/dashboard/switch-empty.png');
    background-position: 10px center;
}


/* Tools */

#dep-tools {
    position: absolute;
    width: 130px;
    top: 10px;
    right: 160px;
    bottom: 10px;
    
    padding: 10px;
}

#dep-tools .tool {
    text-align: center;
    
    -webkit-border-radius: 6px;
    
    padding: 7px 10px 5px;
    
    color: #888;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    
    border: 1px solid #aaa;
    
    margin-bottom: 10px;
}

#dep-tools .tool:hover {
    background-color: #aaa;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    border-color: #888;
    cursor: pointer;
}

#dep-tools #dep-connection-mode {
    
}