{% extends "devices/devices_base.html" %}

{% load data_object_filters %}

{% block content_title %}{{ device }}{% endblock %}

{% block content_area %}

    <div id="path">
        <h1><a href="{{ device.get_absolute_url }}">{{ device.user_given_name }}</a></h1>
        
        <ul id="actions">
            <li><a href="{% url devices:device_data_object_list device_slug=device.slug %}">Data Objects</a></li>
            <li><a href="{% url devices:device_edit device_slug=device.slug %}">Edit</a></li>
            <li><a href="{% url devices:device_delete device_slug=device.slug %}">Delete</a></li>
        </ul>
    </div>
    
    <div class="details">
        <div>
            <dl>
                <dt>Name</dt>
                <dd>{{ device.user_given_name }}</dd>
            </dl>
            <dl>
                <dt>IP Address</dt>
                <dd>{{ device.ip_address }}</dd>
            </dl>
            <dl>
                <dt>FQ Domain Name</dt>
                <dd>{{ device.fqdn }}</dd>
            </dl>
            <dl>
                <dt>Uptime</dt>
                <dd>100 days</dd>
            </dl>
        </div>
    </div>
    
    <div class="columns">
        <div class="first">
            <h3>Packages</h3>
            <ul>
                {% for package in device.packages.all %}
                    <li><a href="{% url devices:package_instance_detail device_slug=device.slug package_slug=package.slug %}">{{ package }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="last">
            <h3>Events</h3>
            <ul>
                {% for event in device.event_set.all %}
                    <li>{{ event.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}