{% extends "devices/devices_base.html" %}

{% block content_area %}

    <div id="path">
        <a href="{{ device.get_absolute_url }}">{{ device.user_given_name }}</a> <span>/ Data Objects</span>
    </div>
    
    {% if new_device %}
        <p>
            So, you have just created <code>{{ device.user_given_name }}</code>, the next step is to start adding some <strong>Data Objects</strong> which you would like to track!
        </p>
    {% else %}
        <p>
            These are the <strong>Data Objects</strong> which <code>{{ device.user_given_name }}</code> is tracking.
        </p>
    {% endif %}
    
    <h3>Packages</h3>
    
    <p>
        A package is a predefined group of data objects which makes enabling and disabling them a synch.
    </p>
    
    <div class="packages">
        {% for package, package_instance_map in packages_map %}
            <div packageInstancePK="{{ package_instance_map.package_instance.pk }}" packagePK="{{ package.pk }}" class="package {% if package_instance_map.package_instance.enabled %}enabled{% endif %}">
                <div class="inner">
                    <input class="toggle" type="checkbox" name="{{ package.slug }}"{% if package_instance_map.package_instance.enabled %} checked="true"{% endif %}>
                    <h5>{{ package.title }}</h5>
                    <ul>
                        {% for package_instance_membership in package_instance_map.package_instance_memberships %}
                            <li pk="{{ package_instance_membership.pk }}">
                                <div class="name" title="{{ package_instance_membership.package_membership.data_object }}">
                                    {{ package_instance_membership.package_membership.data_object }}
                                </div>
                                <div class="config">
                                    
                                    <div class="config-toggle collect-data{% if package_instance_membership.enabled %} enabled{% endif %}" title="Collect this data for this device">
                                        <span class="inner">Collect Data</span>
                                    </div>
                                    <div class="config-toggle graph-data{% if package_instance_membership.graphed %} enabled{% endif %}" title="Graph this data for this device">
                                        <span class="inner">Graph Data</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <h3>Individual Data Objects</h3>
    
    <p>
        You can also add data objects to record individually.
    </p>
    
    {% with device.data_objects.all as device_objects %}
        {% include "definitions/includes/data_object_table.html" %}
    {% endwith %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var PACKAGE_INSTANCE_URL = '{% url api:rules:package_instances %}';
            var CSRF_TOKEN = '{{ csrf_token }}';
            var DEVICE_PK = '{{ device.pk }}';
            
            $('.package .toggle:checkbox').change(function() {
                var $p = $(this).closest('.package');
                $p.toggleClass('enabled');
                
                var packageInstancePK = $p.attr('packageInstancePK');
                var packagePK = $p.attr('packagePK');
                var isEnabled = $p.is('.enabled') ? 'True' : '';
                
                $p.find('.config input[type="checkbox"]').attr('disabled', !isEnabled)
                
                $.ajax({
                    url: PACKAGE_INSTANCE_URL + packageInstancePK + '/',
                    type: 'put',
                    context: $p,
                    data: {
                        enabled: isEnabled,
                        csrfmiddlewaretoken: CSRF_TOKEN
                    },
                    dataType: 'json'
                });
            });
            
            // ---------------------------------------------------------------
            // PackageInstanceMembership configuration
            // ---------------------------------------------------------------
            
            var PACKAGE_INSTANCE_MEMBERSHIP_URL = '{% url api:rules:package_instance_memberships %}';
            
            $('.config-toggle.collect-data').click(function(e) {
                var packageInstanceMemberPK = $(this).closest('li').attr('pk');
                
                $(this).toggleClass('enabled');
                var isEnabled = $(this).is('.enabled') ? 'True' : '';
                
                $.ajax({
                    url: PACKAGE_INSTANCE_MEMBERSHIP_URL + packageInstanceMemberPK + '/',
                    type: 'put',
                    data: {
                        enabled: isEnabled,
                    },
                    dataType: 'json'
                });
            });
            
            $('.config-toggle.graph-data').click(function(e) {
                var packageInstanceMemberPK = $(this).closest('li').attr('pk');
                
                $(this).toggleClass('enabled');
                var isEnabled = $(this).is('.enabled') ? 'True' : '';
                
                $.ajax({
                    url: PACKAGE_INSTANCE_MEMBERSHIP_URL + packageInstanceMemberPK + '/',
                    type: 'put',
                    data: {
                        graphed: isEnabled,
                    },
                    dataType: 'json'
                });
            });
        })
    </script>
{% endblock %}
