{% extends "devices/devices_base.html" %}

{% block content_title %}Your Devices{% endblock %}

{% block content_area %}
    <div id="device-list" class="clearfix">
        {% for device in devices %}
            <div id="{{ device.pk }}" class="device">
                <dl>
                    <dt><a href="{{ device.get_absolute_url }}">{{ device.user_given_name }}</a></dt>
                    <dd><strong>{{ device.user_given_address }}</strong></dd>
                    <dd>{{ device.fqdn }}</dd>
                    <dd>{{ device.ip_address }}</dd>
                </dl>
                <br />
                <dl>
                    <dd>Other stats</dd>
                    <dd>etc.</dd>
                </dl>
            </div>
        {% endfor %}
    </div>
    
    <p><a href="{% url devices.views.device_add %}">Add new device</a></p>
{% endblock %}