{% extends "devices/device_base.html" %}

{% block content_area %}
    <h2>
        {% if form.instance.pk %}
            Edit {{ form.instance }}
        {% else %}
            Add New Device
        {% endif %}
    </h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Save">
    </form>
    
    <div id="target"></div>
    
    <p><a href="{% url devices.views.device_list %}">&#x2190; back</a></p>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            
            var PING_URL = '{% url api.views.ping %}';
            
            var typewatch = (function() {
                var timer = 0;
                return function(callback, ms) {
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                }  
            })();
            
            var sequence = 0;
            var $target = $('#target');
            var previousAddress = null;
            
            $('#id_address').keyup(function() {
                var address = this.value;
                if ((previousAddress == null || address != previousAddress) && address != '') {
                    typewatch(function() {
                        $target.html('Checking ...');
                        $.ajax({
                            url: PING_URL,
                            success: function(data) {
                                // console.log(data);
                                var up = data['up'];
                                if (data['sequence'] == sequence) {
                                    if (up)
                                        $('#target').html(data['address'] + ' is UP.');
                                    else
                                        $('#target').html(data['address'] + ' is DOWN.');
                                }
                            },
                            dataType: 'json',
                            type: 'POST',
                            data: {
                                address: address,
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                sequence: ++sequence,
                                timeout: 1000
                            }
                        });
                    }, 500);
                }
                previousAddress = address;
            });
        });
    </script>
{% endblock %}