{% extends "devices/devices_base.html" %}

{% load data_object_filters %}

{% block content_title %}{{ device }}{% endblock %}

{% block content_area %}
    
    <a href="{{ device.get_absolute_url }}"><h2>{{ device.user_given_name }}</h2></a>
    
    <p>
        This is <code>{{ device.user_given_name }}</code>, with a host name of <code>{{ device.host_name }}</code> and an IP address of <code>{{ device.address }}</code>.
        Currently the information in this paragraph is static and defined by the user (i.e. host name and IP address may not match).
    </p>
    
    <p>
        <a href="{% url devices.views.device_edit device_slug=device.slug %}">edit</a>
        <a href="{% url devices.views.device_delete device_slug=device.slug %}">delete</a>
    </p>
    
    <p>
        <a href="{% url devices.views.device_data_object_list device_slug=device.slug %}">Data Objects</a>
    </p>
    
    <h3>Overview</h3>
    
    <p>
        This page will be an overview of the device in question, containing key information graphed by the fixed packages, and contain a list of events regarding this device.
    </p>
    
    
    <p><a href="{% url devices.views.device_list %}">&#x2190; back</a> to Devices</p>
{% endblock %}