{% extends "core/device/device_base.html" %}

{% block content_area %}
    <h2>Data Objects For {{ device.user_given_name }}</h2>
    
    {% if new_device %}
        <p>
            So, you have just created <code>{{ device.user_given_name }}</code>, the next step is to start adding some <strong>Data Objects</strong> which you would like to track!
        </p>
    {% else %}
        <p>
            These are the <strong>Data Objects</strong> which <code>{{ device.user_given_name }}</code> is tracking.
        </p>
    {% endif %}
    
    <h3>Packages</h3>
    
    <p>
        A package is a predefined group of data objects which makes enabling and disabling them a synch.
    </p>
    
    <div class="packages">
        {% with device.packages.all as device_packages %}
            {% for package in packages %}
                <div class="package {% if package in device_packages %}enabled{% endif %}">
                    <input class="toggle" type="checkbox" name="{{ package.slug }}"{% if package in device_packages %} checked="true"{% endif %}>
                    <h5>{{ package.title }}</h5>
                    <p>{{ package.description }}</p>
                    <p>
                        <a href="{% url core.views.package_detail package_slug=package.slug %}">Read More</a>
                    </p>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    
    <h3>Individual Data Objects</h3>
    
    <p>
        You can also add data objects to record individually.
    </p>
    
    {% with device.data_objects.all as device_objects %}
        {% include "core/includes/data_object_table.html" %}
    {% endwith %}
    
    <h4>Device Analysis</h4>
    
    <p>
        <button id="analysis-button" type="button">Scan for data objects</button> and wait for the data to be populated below:
    </p>
    
    <table id="analysis-target">
    </table>
    
    <p>
        <a href="{% url core.views.device_detail device_slug=device.slug %}">&#x2190; Back</a> to {{ device.user_given_name }}
    </p>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        
        ANALYSIS_URL = '{% url api.views.analyse %}';
        DEVICE_PK = '{{ device.pk }}';
        
        $(function() {
            $('.toggle:checkbox').change(function() {
                $(this).closest('.package').toggleClass('enabled');
            });
            
            var $analysis_button = $('#analysis-button');
            var $analysis_target = $('#analysis-target');
            
            $analysis_button.click(function() {
                this.disabled = 'true';
                $analysis_target.empty();
                $.ajax({
                    url: ANALYSIS_URL,
                    type: 'post',
                    data: {device_pk: DEVICE_PK},
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        for (id in data['oids']) {
                            var oid = data['oids'][id];
                            var name = oid['lookup']['label'] + '[' + oid['lookup']['suffix'] + ']';
                            name = name.slice('iso.org.dod.internet.mgmt.mib-2.'.length);
                            var value = oid['value'];
                            if (oid['value_type'] == 'object_identifier') {
                                value = oid['value_extra']['label'];
                                if (oid['value_extra']['suffix'])
                                    value += '[' + oid['value_extra']['suffix'] + ']';
                            }
                            $analysis_target.append('<tr><td>' + name + '</td><td>' + value + '</td></tr>');
                        }
                        $analysis_button.removeAttr('disabled');
                    },
                    error: function(data) {
                        console.log(data);
                        alert('error');
                    }
                })
            });
        })
    </script>
{% endblock %}