Django==1.3
simplejson
pysnmp==4.1.15a
pysnmp-mibs==0.0.8a

# Oringal version of django-piston
# https://bitbucket.org/jespern/django-piston/get/c4b2d21db51a.tar.gz

# Modified fork for django-piston
https://github.com/marcuswhybrow/django-piston/tarball/master

# For BeanStalk the beanstalkc client library is being used and this is
# dependant on pyyaml for some reason.
pyyaml
beanstalkc

python-memcached