{% extends "dashboard/dashboard_base.html" %}

{% block content_area %}

    <h3>Loading Dashboard &#8230;</h3>
    <noscript>JavaScript must be enabled.</noscript>
    
    <div id="dashboard-edit-panel" style="bottom: -200px">
        <div id="dep-inner">
            <div id="dep-devices">
                {% for device, placed in devices %}
                    <div devicePk="{{ device.pk }}" class="dep-device {% if placed %}placed{% else %}not-placed{% endif %}">
                        <div class="dep-device-image-empty"></div>
                        <div class="dep-device-image-wrapper">
                            <div class="dep-device-image"></div>
                        </div>
                        <div class="dep-device-name">{{ device.user_given_name }}</div>
                    </div>
                {% endfor %}
            </div>
            <div id="dep-tools">
                <div id="dep-connection-mode" class="tool" title="C">Connections</div>
                <div id="dep-remove" class="tool">Remove</div>
            </div>
            <div id="dep-other-devices">
                <div id="dep-device-switch" class="dep-device">
                    <div class="dep-device-image-empty"></div>
                    <div class="dep-device-image-wrapper">
                        <div class="dep-device-image"></div>
                    </div>
                    <div class="dep-device-name">Switch</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block scripts %}
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/jquery.statebindings.js"></script> -->
    <script type="text/javascript" src="https://github.com/marcuswhybrow/jquery-state-bindings/raw/0.9/jquery.statebindings.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.device.js"></script>
    <script type="text/javascript" charset="utf-8">
    
        var CSRF_TOKEN = '{{ csrf_token }}';

        var paper = dashboardConfig.paper = Raphael(0, 0, '100%', '100%');

        $(function() {
            var $window = $(window),
                $editPanel = $('#dashboard-edit-panel');
            
            // ---------------------------------------------------------------
            // Variable declarations
            // ---------------------------------------------------------------
            
            dashboardConfig.imagePath = '{{ STATIC_URL }}images/dashboard/';
            
            // Set the origin of the initial board as the center of the screen
            dashboardConfig.origin = {x: $window.width() / 2, y: $window.height() / 2};
            
            // Create background rectangle. This should be one of
            // the first elements in the SVG since it should be
            // rendered last.
            var rect = paper.rect(0, 0, $window.width(), $window.height());
            rect.attr({
                'stroke': '#999',
                'stroke-width': 10,
                'fill': '#fefefe'
            });
            
            dashboardConfig.layers = {
                'tiles': dashboardConfig.paper.layer('tiles'),
                'connections': dashboardConfig.paper.layer('connections'),
                'devices': dashboardConfig.paper.layer('devices')
            };
            
            // Tile size and spacing
            dashboardConfig.tileWidth = 128;
            dashboardConfig.tileHeight = 100;
            dashboardConfig.tileSeparation = 2;

            // These should only change if the tile shape is redisigned
            dashboardConfig.xOffset = dashboardConfig.tileWidth / 2;
            dashboardConfig.yOffset = (dashboardConfig.tileHeight - 20) / 2;

            // How many tiles there should be in the grid
            dashboardConfig.gridWidth = {{ board.width_near }} + {{ board.width_far }};
            dashboardConfig.gridHeight = {{ board.depth_near }} + {{ board.depth_far }};

            dashboardConfig.quadrants = {
                'topRight': new Quadrant({{ board.width_far}}, {{ board.depth_far }}, true, true),
                'topLeft': new Quadrant({{ board.width_near }}, {{ board.depth_far }}, false, true),
                'bottomRight': new Quadrant({{ board.width_far}}, {{ board.depth_near }}, true, false),
                'bottomLeft': new Quadrant({{ board.width_near }}, {{ board.depth_near }}, false, false)
            };
            
            var device = null;
            {% for item in items %}
                {% if item.type == 'server' %}
                    device = new ServerDevice({{ item.pk }});
                {% else %}
                    {% if item.type == 'switch' %}
                        device = new SwitchDevice({{ item.pk }});
                    {% endif %}
                {% endif %}
                getTile({{ item.x }},{{ item.y }}).addDevice(device);
            {% endfor %}
            
            var fromDevice = null;
            var toDevice = null;
            var connection = null;
            {% for connection in connections %}
                fromDevice = getTile({{ connection.from_item.x }}, {{ connection.from_item.y }}).device;
                toDevice = getTile({{ connection.to_item.x }}, {{ connection.to_item.y }}).device;
                connection = new Connection(fromDevice, toDevice, {{ connection.pk }});
                fromDevice.connections.push(connection);
                toDevice.connections.push(connection);
            {% endfor %}
            
            var current = dashboardConfig.paper.text(30, $window.height() - 30, '');
            current.attr({
                'text-anchor': 'start',
                'fill': 'black'
            });
            
            var status = dashboardConfig.paper.text($window.width() - 30, $window.height() - 30, '');
            status.attr({
                'text-anchor': 'end',
            });
            
            // Greater than 1 when someting is being saved to the database
            var saving = 0;
            
            function updateSaving(isPositiveIncrement) {
                saving += isPositiveIncrement ? 1 : -1;
                status.attr('text', saving <= 0 ? '' : 'Saving ...');
            }

            // PLACING_DEVICES variables
            var movingDevice = null,
                placeSwitch = false,
                placeServer = true,
                MOVEMENT_HEIGHT = 200;

            // DRAWING_CONNECTIONS variables
            var selectedDevice = null;

            var spaceIsDown = false,
                mouseIsDown = false;

            // The x and y values the mouse was at last frame
            var lastX = null,
                lastY = null,
                xChange = null,
                yChange = null;

            var highlightedTile = null,
                hoveredOverTile = null;

            function setHighlightedTile(tile) {
                if (highlightedTile != null)
                    highlightedTile.raphaelObj.attr('opacity', 1);
                highlightedTile = tile;
                if (highlightedTile != null)
                    highlightedTile.raphaelObj.attr('opacity', 0.5);
            }
            
            var $devices = $('svg image[layer="devices"]');
            
            
            var $tiles = $('svg image[layer="tiles"]');
            
            // For displaying a path which updates to draw from a selected
            // device to the postion of the cursor whilst the cursor is
            // moving.
            // Disapears when the second device is selected and the connection
            // is made.
            var connectionPath = null;
            
            // ---------------------------------------------------------------
            // Functions
            // ---------------------------------------------------------------

            // Triggers the click event on a Tile
            function clickTile(i, j) {
                var tile = getTile(i, j);
                if (tile != null)
                    $(tile.raphaelObj.node).click();
            }

            // Returns a tile at the specified grid position
            // or null if it does not exist.
            function getTile(x, y) {
                if (x > {{ board.width_far }} || x < -{{ board.width_near }} || y > {{ board.depth_far }} || y < -{{ board.depth_near }})
                    return null;
                
                var posX = Math.abs(x),
                    posY = Math.abs(y);
                if (x > 0 && y > 0) {
                    return dashboardConfig.quadrants['topRight'].tiles[posX][posY];
                } else if (x < 0 && y > 0) {
                    return dashboardConfig.quadrants['topLeft'].tiles[posX][posY];
                } else if (x > 0 && y < 0) {
                    return dashboardConfig.quadrants['bottomRight'].tiles[posX][posY];
                } else if (x < 0 && y < 0) {
                    return dashboardConfig.quadrants['bottomLeft'].tiles[posX][posY];
                }
            }
            
            // For a x and y co-ordinate on the page, this function will get
            // the tile which is at that point.
            function getTileByPoint(x, y) {
                var tiles = getTiles();
                
                for (var i = 0; i < tiles.length; i++) {
                    var tile = tiles[i],
                        points = tile.getPoints(),
                        gridPos = tile.getGridPos(),
                        northWest = false,
                        northEast = false,
                        southEast = false,
                        southWest = false;
                
                    northWest = ! isPointRightOfLine(points.left.x, points.left.y, points.top.x, points.top.y, x, y);
                    northEast = ! isPointRightOfLine(points.top.x, points.top.y, points.right.x, points.right.y, x, y);
                    southEast = ! isPointRightOfLine(points.right.x, points.right.y, points.bottom.x, points.bottom.y, x, y);
                    southWest = ! isPointRightOfLine(points.bottom.x, points.bottom.y, points.left.x, points.left.y, x, y);
                    
                    if (northWest == false && northEast == false && southEast == false && southWest == false) {
                        return tile;
                    }
                }
                return null;
            }
            
            function getTiles() {
                var allTiles = new Array(),
                    k = 0,
                    quadTiles = null;
                
                for (var name in dashboardConfig.quadrants) {
                    quadTiles = dashboardConfig.quadrants[name].tiles;
                    for (var i = 1; i < quadTiles.length; i++) {
                        for (var j = 1; j < quadTiles[i].length; j++) {
                            allTiles[k++] = quadTiles[i][j];
                        }
                    }
                }
                
                return allTiles;
            }

            // Moves a device from is current tile to a new tile
            function moveDeviceToTile(device, newTile) {
                var oldTile = device.tile;

                if (newTile == null || newTile.device != null) return false;

                device.raphaelObj.toFront();

                device.raphaelObj.animate({
                    // originX: newTile.getOriginX(),
                    // originY: newTile.getOriginY(),
                    x: newTile.raphaelObj.attr('x') + newTile.xOffset - device.xOffset,
                    y: newTile.raphaelObj.attr('y') + newTile.yOffset - device.yOffset,

                    opacity: 1,
                    scale: 1
                }, 200, function() {
                    // Move ownership of the device from the old tile
                    // to the new tile.
                    oldTile.device = null;
                    newTile.device = device;

                    // Update the device as to the tile on which it resides
                    device.tile = newTile;

                    // The device has been moved and is no longer moving
                    device.moving = false;

                    // Ensure that the device is layered correctly visually
                    dashboardConfig.layers['devices'].addAtPosition(device);

                    device.updateConnections();
                    
                    updateSaving(true);
                    $.ajax({
                        url: '{% url api:dashboard:items %}' + device.pk + '/',
                        type: 'PUT',
                        data: {
                            x: newTile.x,
                            y: newTile.y,
                            csrfmiddlewaretoken: CSRF_TOKEN
                        },
                        success: function(data) {
                            updateSaving(false);
                        },
                        error: function(data) {
                            updateSaving(false);
                        },
                        // dataType: 'json'
                    });
                });

                return true;
            }

            // Calculates whether a co-ordinate is to the right of
            // a line defined by two other co-ordinates
            function isPointRightOfLine(ax, ay, bx, by, px, py) {
                return (bx - ax) * (by - ay) < (px - ax) * (py - ay) + (bx - px) * (by - py) + (bx - px) * (py - ay) * 2;
            }
            
            function incSkipZero(val) {
                var newVal = val + 1;
                if (newVal == 0)
                    return 1;
                return newVal;
            }
            
            function decSkipZero(val) {
                var newVal = val - 1;
                if (newVal == 0)
                    return -1;
                return newVal;
            }
            
            function moveEverything(xChange, yChange) {
                if (xChange !== null && yChange !== null) {
                    for (var name in dashboardConfig.quadrants) {
                        dashboardConfig.quadrants[name].translate(xChange, yChange);
                    }
                }
            }
            
            // ---------------------------------------------------------------
            // Window Bindings
            // ---------------------------------------------------------------

            // Updates the size of certain objects when the window
            // resizes.
            $window.resize(function() {
                rect.attr({
                    'width': $window.width(),
                    'height': $window.height()
                });
                
                current.attr({
                    y: $(window).height() - 30
                })
                
                status.attr({
                    x: $window.width() - 30,
                    y: $window.height() - 30
                })
            }).stateBindings({
                movingTiles: {
                    mousemove: function(e) {
                        // and translate the position of all tiles based upon
                        // the movement of the mouse since the last frame
                        moveEverything(xChange, yChange);
                    }
                },
                viewing: {
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;
                        switch (code) {
                            // m
                            case 77:
                                $.stateBindings.addState('editing');
                                break;
                        }
                    }
                },
                isInteractive: {
                    keydown: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // Space
                            case 32:
                                spaceIsDown = true;
                                $('html').css('cursor', 'move');
                                break;
                        }
                    },
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // space
                            case 32:
                                spaceIsDown = false;
                                $('html').css('cursor', 'default');
                                break;
                        }
                    }
                },
                editing: {
                    mousemove: function(e) {
                        hoveredOverTile = getTileByPoint(e.pageX, e.pageY);
                        // Uncomment to enable highlighting of the tile under
                        // the mouse:
                        //setHighlightedTile(hoveredOverTile);
                        
                        if (movingDevice !== null && hoveredOverTile !== null && hoveredOverTile.device === null)
                            setHighlightedTile(hoveredOverTile);
                        else
                            setHighlightedTile(null);
                    },
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // c
                            case 67:
                                $.stateBindings.toggleState('editing>drawingConnections');
                                break;
                            // Esc
                            case 27:
                                if (movingDevice !== null) {
                                    movingDevice.setHighlighted(false);
                                    movingDevice = null;
                                }
                                break;
                            // m
                            case 77:
                                $.stateBindings.removeState('editing');
                                break;
                        }
                    }
                },
                'editing>movingDevices': {
                    mousedown: function(e) {
                        if (movingDevice === null && hoveredOverTile != null && hoveredOverTile.device != null) {
                            movingDevice = hoveredOverTile.device;
                            $.stateBindings.addState('editing>movingDevices>inProgress');
                        }
                    }
                },
                'editing>removingDevices': {
                    mouseup: function(e) {
                        if (hoveredOverTile != null && hoveredOverTile.device != null) {
                            hoveredOverTile.device.delete();
                            hoveredOverTile.device = null;
                        }
                    }
                },
                'editing>movingDevices>inProgress': {
                    mousemove: function(e) {
                        movingDevice.translate(xChange, yChange);
                        movingDevice.updateConnections();
                    },
                    mouseup: function(e) {
                        if (movingDevice != null && hoveredOverTile != null && hoveredOverTile.device === null) {
                            moveDeviceToTile(movingDevice, hoveredOverTile);
                            movingDevice = null;
                            $.stateBindings.removeState('editing>movingDevices>inProgress');
                        } else {
                            movingDevice.raphaelObj.animate({
                                x: movingDevice.tile.raphaelObj.attr('x') + dashboardConfig.xOffset - movingDevice.xOffset,
                                y: movingDevice.tile.raphaelObj.attr('y') + dashboardConfig.yOffset - movingDevice.yOffset,
                            }, 200, function() {
                                // One final time to ensure the connections
                                // didn't miss the last frame of animation
                                movingDevice.updateConnections();
                                movingDevice = null;
                                $.stateBindings.removeState('editing>movingDevices>inProgress');
                            });
                        }
                    }
                },
                'editing>drawingConnections': {
                    click: function(e) {
                        if (hoveredOverTile !== null) {
                            var device = hoveredOverTile.device;

                            if ($.stateBindings.isEnabled('editing>drawingConnections>inProgress') == false) {
                                if (device !== null && selectedDevice === null) {
                                    selectedDevice = device;

                                    var fromPoint = selectedDevice.getOriginPos();

                                    // Create the path which follows the mouse
                                    connectionPath = paper.path(
                                        'M' + fromPoint.x + ' ' + fromPoint.y +
                                        'L' + e.pageX + ' ' + e.pageY
                                    );
                                    connectionPath.attr({
                                        'stroke-width': 5,
                                        'stroke-linecap': 'round',
                                        'stroke': '#666'
                                    });
                                    connectionPath.insertBefore(dashboardConfig.layers['connections']);
                                    $.stateBindings.addState('editing>drawingConnections>inProgress');
                                }
                            } else {
                                if (device !== null && selectedDevice !== null) {
                                    // Remove the path which follows the mouse

                                    var con = selectedDevice.connectTo(device);

                                    updateSaving(true);
                                    $.ajax({
                                        url: '{% url api:dashboard:connections %}',
                                        type: 'post',
                                        context: con,
                                        data: {
                                            from_item: con.fromDevice.pk,
                                            to_item: con.toDevice.pk,
                                            csrfmiddlewaretoken: CSRF_TOKEN
                                        },
                                        success: function(data) {
                                            this.pk = data['id'];
                                            updateSaving(false);
                                        },
                                        error: function(data) {
                                            updateSaving(false);
                                        },
                                        dataType: 'json'
                                    });

                                    $window.resize();
                                    $.stateBindings.removeState('editing>drawingConnections>inProgress');
                                }
                            }
                        }
                    },
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;
                        switch (code) {
                            // Esc
                            case 27:
                                $.stateBindings.removeState('editing>drawingConnections>inProgress');
                                break;
                        }
                    }
                },
                'editing>drawingConnections>inProgress': {
                    mousemove: function(e) {
                        // Update the path which follows the mouse
                        if (selectedDevice !== null) {
                            var fromPoint = selectedDevice.getOriginPos();
                            connectionPath.attr(
                                'path',
                                'M' + fromPoint.x + ' ' + fromPoint.y + 'L' + e.pageX + ' ' + e.pageY
                            );
                        }
                    }
                }
            }).mousemove(function(e) {
                
                if (lastX !== null && lastY !== null) {
                    // Get the diffence in position since the last frame
                    xChange = e.pageX - lastX;
                    yChange = e.pageY - lastY;
                }
                
                lastX = e.pageX;
                lastY = e.pageY;
            }).mousedown(function(e) {
                if (spaceIsDown === true) {
                    $.stateBindings.addState('movingTiles');
                }
                e.preventDefault();
            }).mouseup(function(e) {
                $.stateBindings.removeState('movingTiles');
            });
            
            // ---------------------------------------------------------------
            // Edit Panel Code
            // ---------------------------------------------------------------
            
            $('.dep-device.not-placed .dep-device-image-wrapper').draggable({
                revert: function(revertDefault) {
                    var $this = $(this),
                        imageWidth = 72,
                        imageHeight = 96,
                        imageXOffset = 36,
                        imageYOffset = 74,
                        xOffset = ($this.width() - imageWidth) / 2 + imageXOffset,
                        yOffset = 10 + imageYOffset,
                        x = $this.offset().left + xOffset,
                        y = $this.offset().top + yOffset;
                    
                    var tile = getTileByPoint(x, y);
                    if (tile == null) {
                        return true;
                    } else {
                        if (tile.device == null) {
                            var device = new ServerDevice();
                            tile.addDevice(device),
                            devicePk = $this.parent().attr('devicePk');
                        
                            $this.remove();
                            var deviceGridPos = device.getGridPos();
                        
                            updateSaving(true);
                            $.ajax({
                                url: '{% url api:dashboard:device_items %}',
                                type: 'post',
                                context: device,
                                data: {
                                    x: deviceGridPos.x,
                                    y: deviceGridPos.y,
                                    type: 'server',
                                    board: '{{ board.pk }}',
                                    device: devicePk,
                                    csrfmiddlewaretoken: CSRF_TOKEN
                                },
                                success: function(data) {
                                    this.pk = data['id'];
                                    updateSaving(false);
                                },
                                error: function(data) {
                                
                                    updateSaving(false);
                                },
                                dataType: 'json'
                            });
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
                drag: function(event, ui) {
                    var $this = $(this),
                        imageWidth = 72,
                        imageHeight = 96,
                        imageXOffset = 36,
                        imageYOffset = 74,
                        xOffset = ($this.width() - imageWidth) / 2 + imageXOffset,
                        yOffset = 10 + imageYOffset,
                        x = $this.offset().left + xOffset,
                        y = $this.offset().top + yOffset;
                    setHighlightedTile(getTileByPoint(x, y));
                },
                zIndex: 10000,
                revertDuration: 200,
                scroll: false,
            });
            
            $('#dep-device-switch .dep-device-image-wrapper').draggable({
                revert: function(revertDefault) {
                    var $this = $(this),
                        imageWidth = 90,
                        imageHeight = 76,
                        imageXOffset = 45,
                        imageYOffset = 47,
                        xOffset = ($this.width() - imageWidth) / 2 + imageXOffset,
                        yOffset = 20 + imageYOffset,
                        x = $this.offset().left + xOffset,
                        y = $this.offset().top + yOffset;
                    
                    var tile = getTileByPoint(x, y);
                    if (tile !== null && tile.device === null) {
                        var device = new SwitchDevice();
                        tile.addDevice(device);
                        
                        var deviceGridPos = device.getGridPos();
                        
                        updateSaving(true);
                        $.ajax({
                            url: '{% url api:dashboard:items %}',
                            type: 'post',
                            context: device,
                            data: {
                                x: deviceGridPos.x,
                                y: deviceGridPos.y,
                                type: 'switch',
                                board: '{{ board.pk }}',
                                csrfmiddlewaretoken: CSRF_TOKEN
                            },
                            success: function(data) {
                                this.pk = data['id'];
                                updateSaving(false);
                            },
                            error: function(data) {
                                updateSaving(false);
                            },
                            dataType: 'json'
                        });
                        $(this).draggable('option', 'revertDuration', 0);
                        return true;
                    }
                    
                    // Always revert
                    $(this).draggable('option', 'revertDuration', 200);
                    return true;
                },
                drag: function(event, ui) {
                    var $this = $(this),
                        imageWidth = 90,
                        imageHeight = 76,
                        imageXOffset = 45,
                        imageYOffset = 47,
                        xOffset = ($this.width() - imageWidth) / 2 + imageXOffset,
                        yOffset = 20 + imageYOffset,
                        x = $this.offset().left + xOffset,
                        y = $this.offset().top + yOffset;
                    setHighlightedTile(getTileByPoint(x, y));
                },
                stop: function(event, ui) {
                    var $this = $(this);
                    if ($this.draggable('option', 'revertDuration') == 0)
                        $this.fadeTo(0, 0).fadeTo(200, 1);
                },
                zIndex: 10000,
                revertDuration: 200,
                scroll: false,
            });
            
            $('#dep-connection-mode').click(function(e) {
                $.stateBindings.toggleState('editing>drawingConnections');
            });
            
            $('#dep-remove').click(function(e) {
                $.stateBindings.toggleState('editing>removingDevices');
            })
            
            // ---------------------------------------------------------------
            // State Change Events
            // ---------------------------------------------------------------
            
            $window.bind('editing.stateEnabled', function(e) {
                $.stateBindings.addState('editing>movingDevices');
                $.stateBindings.removeState('viewing');
                $editPanel.animate({bottom: 0}, 200);
                $('header').animate({top: '-150'}, 200);
                
            }).bind('editing.stateDisabled', function(e) {
                $.stateBindings.addState('viewing');
                $editPanel.animate({bottom: '-200px'}, 200);
                $('header').animate({top: 0}, 200);
                
            }).bind('editing>drawingConnections.stateEnabled', function(e) {
                $.stateBindings.removeState('editing>movingDevices');
                $.stateBindings.removeState('editing>removingDevices');
                $('html').css('cursor', 'crosshair');
                $('#dep-connection-mode').addClass('active');
                
            }).bind('editing>drawingConnections.stateDisabled', function(e) {
                $.stateBindings.addState('editing>movingDevices');
                $('html').css('cursor', 'default');
                $('#dep-connection-mode').removeClass('active');
            }).bind('editing>drawingConnections>inProgress.stateDisabled', function(e) {
                if (connectionPath != null) {
                    connectionPath.remove();
                    connectionPath = null;
                }
                selectedDevice = null;
            }).bind('editing>removingDevices.stateEnabled', function(e) {
                $.stateBindings.removeState('editing>movingDevices');
                $('#dep-remove').addClass('active');
            }).bind('editing>removingDevices.stateDisabled', function(e) {
                $.stateBindings.addState('editing>movingDevices');
                $('#dep-remove').removeClass('active');
            });
            
            // ---------------------------------------------------------------
            // SUPER IMPORTANT - Setting the initial state
            // ---------------------------------------------------------------
            
            $.stateBindings.setState('viewing isInteractive');

        });
    </script>
{% endblock %}
