{% extends "dashboard/dashboard_base.html" %}

{% block content_area %}

    <h3>Loading Dashboard &#8230;</h3>
    <noscript>JavaScript must be enabled.</noscript>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% endblock %}

{% block links %}
    <style type="text/css" media="screen">
        * {
            margin: 0;
            padding: 0;
        }
        
        * {
/*            -moz-user-select: -moz-none;
            -webkit-user-select: none;*/
        }
        
        body {
            overflow: hidden;
        }
        
        header {
            z-index: 1000;
            position: relative;
            background: white;
            border: 1px solid #999;
            border-top: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/interface.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.device.js"></script>
    <script type="text/javascript" charset="utf-8">

        var paper = Raphael(0, 0, '100%', '100%');

        paper.customAttributes.originX = function(nx) {
            return {x: nx - this.xOffset};
        };

        paper.customAttributes.originY = function(ny) {
            return {y: ny - this.yOffset};
        };
        
        
        dashboardConfig.imagePath = '{{ STATIC_URL }}images/dashboard/';
        
        // Tile size and spacing
        dashboardConfig.tileWidth = 128;
        dashboardConfig.tileHeight = 100;
        dashboardConfig.tileSeparation = 2;
        
        // These should only change if the tile shape is redisigned
        dashboardConfig.xOffset = dashboardConfig.tileWidth / 2;
        dashboardConfig.yOffset = dashboardConfig.tileHeight - 20;
        
        // How many tiles there should be in the grid
        dashboardConfig.gridWidth = {{ board.width_near }} + {{ board.width_far }};
        dashboardConfig.gridHeight = {{ board.depth_near }} + {{ board.depth_far }};
        
        // 
        // paper.customAttributes.originY = function(y) {
        //     if (y == undefined)
        //         return this.attr('y') + this.yOffset;
        //     else
        //         return {y: this.attr('y') + this.yOffset};
        // }

        $(function() {

            // var d = paper.serverDevice();
            // console.log(d.attr('src'));
            // console.log(d.thing());

            var $window = $(window);

            var sx = 0.5,
                sy = 0.5;

            // debug stuff
            DRAW_COORDINATES = false;

            // The states the interface can be in
            var PLACING_DEVICES = 0,
                DRAWING_CONNECTIONS = 1,
                state = PLACING_DEVICES;

            // PLACING_DEVICES variables
            var movingDevice = null,
                placeSwitch = false,
                placeServer = true,
                MOVEMENT_HEIGHT = 200;

            // DRAWING_CONNECTIONS variables
            var selectedDevice = null;

            // A 2 dimensional array holding the grid of tiles
            var tiles = new Array(dashboardConfig.gridWidth);

            var spaceIsDown = false,
                mouseIsDown = false;

            // The x and y values the mouse was at last frame
            var lastX = null,
                lastY = null;

            var highlightedTile = null,
                hoveredOverTile = null;

            function setHighlightedTile(tile) {
                if (highlightedTile != null)
                    highlightedTile.attr('opacity', 1);
                highlightedTile = tile;
                if (highlightedTile != null)
                    highlightedTile.attr('opacity', 0.5);
            }

            // Create background rectangle. This should be one of
            // the first elements in the SVG since it should be
            // rendered last.
            var rect = paper.rect(0, 0, $window.width(), $window.height());
            rect.attr({
                'stroke': '#999',
                'stroke-width': 10,
                'fill': '#fefefe'
            });

            var tileLayer = paper.layer('tileLayer'),
                connectionLayer = paper.layer('connectionLayer'),
                deviceLayer = paper.layer('deviceLayer');

            deviceLayer.add = function(device) {
                this.addAtPosition(device, device.tile.gridX, device.tile.gridY);
            }

            // Add the tiles to the screen
            for (var i = 0; i < dashboardConfig.gridWidth; i++) {
                tiles[i] = new Array(dashboardConfig.gridHeight);

                for (var j = 0; j < dashboardConfig.gridHeight; j++) {

                    // // The origin of the grid system           
                    // var xPos = $window.width() * sx,
                    //     yPos = $window.height() * sy;
                    
                    tile = new Tile(paper, i, j);
                    tiles[i][j] = tile;
                    tileLayer.bringToFront(tile.image);

                    var tileNode = tile.image.node;

                    // Highligh which tile is under the mouse
                    $(tileNode)
                        .hover(function(e) {
                            dashboardConfig.hoveredOverTile = this.raphael;    
                        }, function() {
                            dashboardConfig.hoveredOverTile = null;
                        })
                        
                        .click(function(e) {

                            if (! spaceIsDown) {
                                if (state == PLACING_DEVICES) {
                                    if (movingDevice != null) {
                                        // If a device is currently being moved try and
                                        // move it to this tile
                                        if (moveDeviceToTile(movingDevice, highlightedTile)) {
                                            // If the device was moved then there is no
                                            // device currently moving
                                            movingDevice = null;
                                        } else {
                                            // If the device could not be moved to this tile
                                            // (the tile already has a device, or the tile does
                                            // not exist) then put down the currently moving
                                            // device and pick up the device on this tile (assuming
                                            // now that the tile exists and thus had a device.)
                                            movingDevice.moving = false;
                                            movingDevice.lower();

                                            if (highlightedTile.device != movingDevice) {
                                                // If the user clicks a tile other than that which
                                                // holds the currently moving device, then make the
                                                // device on this tile the moving device (picking it up)
                                                movingDevice = highlightedTile.device;
                                                movingDevice.moving = true;
                                                movingDevice.raise();
                                            } else {
                                                // If the this tile contains the currently moving
                                                // device (the user clicked on it again) then don't
                                                // pick up this device again
                                                movingDevice = null;
                                            }
                                        }
                                    } else if (highlightedTile.device == null) {
                                        // If the this tile does not have a device:
                                        if (placeSwitch == true) {
                                            // If we are currently placing Switches then
                                            // create a switch device and place it on the
                                            // current tile
                                            highlightedTile.device = paper.image(
                                                '{{ STATIC_URL }}/images/dashboard/switch.png',
                                                0, // x set later
                                                0, // y set later
                                                90,
                                                76
                                            );

                                            // Store the image specific co-ordinate offset
                                            // information for use elsewhere
                                            highlightedTile.device.xOffset = 45;
                                            highlightedTile.device.yOffset = 47;

                                        } else if (placeServer == true) {
                                            // However if we are placing Servers right now, then
                                            // create a server device and place it on the current
                                            // tile.
                                            highlightedTile.device = paper.image(
                                                '{{ STATIC_URL }}/images/dashboard/server.png',
                                                0, // x set later
                                                0, // y set later
                                                72,
                                                96
                                            );

                                            // Again store the co-ordinate offset information
                                            highlightedTile.device.xOffset = 37;
                                            highlightedTile.device.yOffset = 74;
                                        }

                                        // Get a shorter reference for the device
                                        var device = highlightedTile.device;

                                        // Give the device a reference to its tile
                                        device.tile = highlightedTile;
                                        // All devices start off NOT moving
                                        device.moving = false;
                                        // All devices start with NO interfaces
                                        device.interfaces = new Array();
                                        device.numberOfInterfaces = 0;

                                        // Here I am overriding the translate method in order
                                        // to move any connections connected to an interface
                                        // on this device whenever this device is translated.
                                        device.translateOld = device.translate;
                                        device.translate = function(cx, cy) {
                                            for (var i = 0; i < this.numberOfInterfaces; i++) {
                                                var connection = this.interfaces[i];

                                                if (connection.deviceOne == this)
                                                    connection.translate(cx, cy);
                                            }
                                            this.translateOld(cx, cy);
                                        };

                                        device.getGridX = function() {
                                            return this.tile.getGridX();
                                        };

                                        device.getGridY = function() {
                                            return this.tile.getGridY();
                                        };

                                        device.getOriginX = function() {
                                            return this.attr('x') + this.xOffset;
                                        };

                                        device.getOriginY = function() {
                                            return this.attr('y') + this.yOffset;
                                        };

                                        device.setOrigin = function(nx, ny) {
                                            this.attr({
                                                x: nx - this.xOffset,
                                                y: ny - this.yOffset
                                            });
                                        };

                                        device.raise = function() {
                                            this.animate({
                                                // y: this.attr('y') - MOVEMENT_HEIGHT,
                                                opacity: 0.5
                                                // scale: 1.5
                                            }, 100);
                                        };

                                        device.lower = function() {
                                            this.animate({
                                                // y: this.attr('y') + MOVEMENT_HEIGHT,
                                                opacity: 1
                                                // scale: 1
                                            }, 100);
                                        };

                                        device.updateConnections = function() {
                                            for (var i in this.interfaces) {
                                                var c = this.interfaces[i];

                                                c.attr(
                                                    'path',
                                                    'M' + c.deviceOne.getOriginX() + ' ' + c.deviceOne.getOriginY() +
                                                    'L' + c.deviceTwo.getOriginX() + ' ' + c.deviceTwo.getOriginY()
                                                );
                                            }
                                        };

                                        device.onAnimation(device.updateConnections);

                                        device.setOrigin(device.tile.getOriginX(), device.tile.getOriginY());

                                        // If the device is hovered over with the mouse, I want
                                        // to pass this information down to the tile on which it
                                        // sits.
                                        $(device.node).hover(function() {
                                            $(this.raphael.tile.node).mouseenter();
                                        }, function() {
                                            $(this.raphael.tile.node).mouseout();
                                        })

                                        // If the device is clicked on pass the click down to the
                                        // tile on which the device sits.
                                        $(device.node).click(function(e) {
                                            $(this.raphael.tile.node).trigger('click', [e.pageX, e.pageY]);
                                        });

                                        // ensures that the 3D illusion is maintained
                                        // by putting the device just above (SVG-wise)
                                        // the tile it is resting on.
                                        // device.insertAfter(this.raphael);
                                        // 
                                        // deviceLayer.bringToFront(device);

                                        deviceLayer.add(device);
                                    } else {
                                        // If this tile DOES HAVE a device:

                                        // Get a shorter reference to the device again
                                        var device = highlightedTile.device;

                                        // Toggle whether the device is moving or not
                                        device.moving = ! device.moving;

                                        if (device.moving) {
                                            // If the device is now moving, update the
                                            // global movingDevice reference
                                            movingDevice = device;

                                            // Then visually pop the device up in the air
                                            device.raise();
                                        }
                                    }

                                    // Makes Chrome (maybe other browsers) redraw the SVG
                                    $(window).resize();

                                } else if (state = DRAWING_CONNECTIONS) {
                                    // If we are drawing connections between devices:

                                    // Get a shorter reference to the devices on this tile
                                    var device = highlightedTile.device;

                                    if (device != null) {
                                        // If this tile DOES have a device:
                                        if (selectedDevice == null) {
                                            // If an initial device as not been selected
                                            // then this is that device
                                            selectedDevice = device;
                                        } else {
                                            // Otherwise draw a line from that previously
                                            // selected devices to this currently selected
                                            // device.
                                            connectDevices(selectedDevice, device);
                                            $(window).resize();

                                            // and then start the process over again.
                                            selectedDevice = null;
                                        }
                                    }
                                }
                            }
                        }); // END click event
                }   
            }

            // paper.circle(tiles[0][0].getOriginX(), tiles[0][0].getOriginY(), 2);

            // Triggers the click event on a Tile
            function clickTile(i, j) {
                var tile = getTile(i, j)
                if (tile != null)
                    $(tile.node).click();
            }

            // Returns a tile at the specified grid position
            // or null if it does not exist.
            function getTile(i, j) {
                return i >= 0 && i < dashboardConfig.gridWidth && j >= 0 && j < gridHeight ? tiles[i][j] : null;
            }

            // Moves a device from is current tile to a new tile
            function moveDeviceToTile(device, newTile) {
                var oldTile = device.tile;

                if (newTile == null || newTile.device != null) return false;

                // Set the new position of the device
                // device.attr('x', newTile.attr('x') + device.xOffset);
                // device.attr('y', newTile.attr('y') + device.yOffset);

                device.toFront();

                device.animate({
                    // originX: newTile.getOriginX(),
                    // originY: newTile.getOriginY(),
                    x: newTile.attr('x') + newTile.xOffset - device.xOffset,
                    y: newTile.attr('y') + newTile.yOffset - device.yOffset,

                    opacity: 1,
                    scale: 1
                }, 200, function() {
                    // Move ownership of the device from the old tile
                    // to the new tile.
                    oldTile.device = null;
                    newTile.device = device;

                    // Update the device as to the tile on which it resides
                    device.tile = newTile;

                    // The device has been moved and is no longer moving
                    device.moving = false;

                    // Ensure that the device is layered correctly visually
                    deviceLayer.add(device);

                    device.updateConnections();
                });

                return true;
            }

            // Connects one device to another, visually and programmatically
            function connectDevices(deviceOne, deviceTwo) {
                var tileOne = deviceOne.tile,
                    tileTwo = deviceTwo.tile;

                var connection = paper.path(
                    'M' + deviceOne.getOriginX() + ' ' + deviceOne.getOriginY() +
                    'L' + deviceTwo.getOriginX() + ' ' + deviceTwo.getOriginY()
                );

                connection.attr({
                    'stroke-width': 5,
                    'stroke-linecap': 'round'
                });

                connection.deviceOne = deviceOne;
                connection.deviceTwo = deviceTwo;

                connection.getOtherDevice = function(device) {
                    return this.deviceOne == device ? this.deviceTwo : this.deviceOne;
                };

                deviceOne.interfaces[deviceOne.numberOfInterfaces++] = connection;
                deviceTwo.interfaces[deviceTwo.numberOfInterfaces++] = connection;

                connectionLayer.bringToFront(connection);
            }

            // Calculates whether a co-ordinate is to the right of
            // a line defined by two other co-ordinates
            function isPointRightOfLine(ax, ay, bx, by, px, py) {
                return (bx - ax) * (by - ay) < (px - ax) * (py - ay) + (bx - px) * (by - py) + (bx - px) * (py - ay) * 2;
            }

            // Draws co-ordinates over the top of each tile for debugging
            if (DRAW_COORDINATES) {
                for (var i = 0; i < dashboardConfig.gridWidth; i++) {
                    for (var j = 0; j < dashboardConfig.gridHeight; j++) {
                        var tile = tiles[i][j];
                        paper.text(tile.attr('x') + xOffset, tile.attr('y') + yOffset/2, '(' + tile.gridX + ',' + tile.gridY + ')');
                    }
                }
            }

            var current = paper.text(30, $(window).height() - 30, "SERVER");
            current.attr({
                'text-anchor': 'start',
                'fill': 'black'
            });

            // Updates the size of certain objects when the window
            // resizes.
            $(window).resize(function() {
                rect.attr({
                    'width': $window.width(),
                    'height': $window.height()
                });
                
                current.attr({
                    y: $(window).height() - 30
                })
            });

            // var dragging = false;
            // 
            // $(window).click(function() {
            //     dragging = ! dragging;
            // }) ;

            function moveTiles(x, y) {
                // Get the diffence in position since the last frame
                var xOffset = x - lastX;
                var yOffset = y - lastY;

                // and translate the position of all tiles based upon
                // the movement of the mouse since the last frame
                for (var i = 0; i < dashboardConfig.gridWidth; i++) {
                    for (var j = 0; j < dashboardConfig.gridHeight; j++) {
                        tiles[i][j].translate(xOffset, yOffset);
                    }
                }
            }

            // Whenever the mouse is moved:
            $(window).mousemove(function(e) {
                if (spaceIsDown && mouseIsDown && lastX != null) {
                    // If the space bar is currently held down then:
                    moveTiles(e.pageX, e.pageY);
                }

                // update the x and y values for use in the next frame.
                lastX = e.pageX;
                lastY = e.pageY;

                // console.log(hoveredOverTile);

                if (hoveredOverTile != null) {
                    var top = hoveredOverTile.getTopPoint(),
                        left = hoveredOverTile.getLeftPoint(),
                        right = hoveredOverTile.getRightPoint(),
                        bottom = hoveredOverTile.getBottomPoint(),

                        tileX = hoveredOverTile.getGridX(),
                        tileY = hoveredOverTile.getGridY();

                    if (! isPointRightOfLine(left.x, left.y, top.x, top.y, e.pageX, e.pageY)) {
                        setHighlightedTile(getTile(tileX, tileY - 1));
                    } else if (! isPointRightOfLine(top.x, top.y, right.x, right.y, e.pageX, e.pageY)) {
                        setHighlightedTile(getTile(tileX - 1, tileY));
                    } else if (! isPointRightOfLine(right.x, right.y, bottom.x, bottom.y, e.pageX, e.pageY)) {
                        setHighlightedTile(getTile(tileX, tileY + 1));
                    } else if (! isPointRightOfLine(bottom.x, bottom.y, left.x, left.y, e.pageX, e.pageY)) {
                        setHighlightedTile(getTile(tileX + 1, tileY));
                    } else {
                        setHighlightedTile(hoveredOverTile);
                    }
                }
            });

            $(window).mousedown(function(e) {
                mouseIsDown = true;
                e.preventDefault();
            });

            $(window).mouseup(function(e) {
                mouseIsDown = false;
            });

            $(document).bind('touchmove', function(e) {
                e.preventDefault();
                var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];

                if (lastX != null) {
                    moveTiles(touch.clientX, touch.clientY);
                }

                lastX = touch.clientX;
                lastY = touch.clientY;
            });

            $(document).bind('touchstart', function(e) {
                var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];

                lastX = touch.clientX;
                lastY = touch.clientY;
            });

            $(window).keydown(function(e) {
                var code = e.keyCode ? e.keyCode : e.which;

                switch (code) {
                    // Space
                    case 32:
                        spaceIsDown = true;
                        $('html').css('cursor', 'move');
                        break;
                }
            });

            $(window).keyup(function(e) {
                var code = e.keyCode ? e.keyCode : e.which;

                switch (code) {
                    // space
                    case 32:
                        spaceIsDown = false;
                        $('html').css('cursor', 'default');
                        break;

                    // s
                    case 83:
                        placeSwitch = ! placeSwitch;
                        placeServer = ! placeServer;

                        current.attr('text', placeSwitch ? 'SWITCH' : 'SERVER');
                        break;

                    // c
                    case 67:
                        state = state == DRAWING_CONNECTIONS ? PLACING_DEVICES : DRAWING_CONNECTIONS;
                        $('html').css('cursor', state == DRAWING_CONNECTIONS ? 'crosshair' : 'default');
                        current.attr('text', state == DRAWING_CONNECTIONS ? 'CONNECTIONS' : placeSwitch ? 'SWITCH' : 'SERVER');

                        break;
                }
            });

        });
    </script>
{% endblock %}
