{% extends "dashboard/dashboard_base.html" %}

{% block content_area %}

    <h3>Loading Dashboard &#8230;</h3>
    <noscript>JavaScript must be enabled.</noscript>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% endblock %}

{% block links %}
    <style type="text/css" media="screen">
        * {
            margin: 0;
            padding: 0;
        }
        
        * {
/*            -moz-user-select: -moz-none;
            -webkit-user-select: none;*/
        }
        
        body {
            overflow: hidden;
        }
        
        header {
            z-index: 1000;
            position: relative;
            background: white;
            border: 1px solid #999;
            border-top: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/jquery.statebindings.js"></script> -->
    <script type="text/javascript" src="https://github.com/marcuswhybrow/jquery-state-bindings/raw/master/jquery.statebindings.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mylibs/raphael.device.js"></script>
    <script type="text/javascript" charset="utf-8">
    
        var CSRF_TOKEN = '{{ csrf_token }}';

        var paper = dashboardConfig.paper = Raphael(0, 0, '100%', '100%');

        $(function() {
            var $window = $(window);
            
            dashboardConfig.imagePath = '{{ STATIC_URL }}images/dashboard/';
            
            // Set the origin of the initial board as the center of the screen
            dashboardConfig.origin = {x: $window.width() / 2, y: $window.height() / 2};
            
            // Create background rectangle. This should be one of
            // the first elements in the SVG since it should be
            // rendered last.
            var rect = paper.rect(0, 0, $window.width(), $window.height());
            rect.attr({
                'stroke': '#999',
                'stroke-width': 10,
                'fill': '#fefefe'
            });
            
            dashboardConfig.layers = {
                'tiles': dashboardConfig.paper.layer('tiles'),
                'connections': dashboardConfig.paper.layer('connections'),
                'devices': dashboardConfig.paper.layer('devices')
            };
            
            // Tile size and spacing
            dashboardConfig.tileWidth = 128;
            dashboardConfig.tileHeight = 100;
            dashboardConfig.tileSeparation = 2;

            // These should only change if the tile shape is redisigned
            dashboardConfig.xOffset = dashboardConfig.tileWidth / 2;
            dashboardConfig.yOffset = (dashboardConfig.tileHeight - 20) / 2;

            // How many tiles there should be in the grid
            dashboardConfig.gridWidth = {{ board.width_near }} + {{ board.width_far }};
            dashboardConfig.gridHeight = {{ board.depth_near }} + {{ board.depth_far }};

            dashboardConfig.quadrants = {
                'topRight': new Quadrant({{ board.width_far}}, {{ board.depth_far }}, true, true),
                'topLeft': new Quadrant({{ board.width_near }}, {{ board.depth_far }}, false, true),
                'bottomRight': new Quadrant({{ board.width_far}}, {{ board.depth_near }}, true, false),
                'bottomLeft': new Quadrant({{ board.width_near }}, {{ board.depth_near }}, false, false)
            };
            
            var device = null;
            {% for item in board.items.all %}
                {% if item.type == 'server' %}
                    device = new ServerDevice({{ item.pk }});
                {% else %}
                    {% if item.type == 'switch' %}
                        device = new SwitchDevice({{ item.pk }});
                    {% endif %}
                {% endif %}
                getTile({{ item.x }},{{ item.y }}).addDevice(device);
            {% endfor %}
            
            var current = dashboardConfig.paper.text(30, $window.height() - 30, '');
            current.attr({
                'text-anchor': 'start',
                'fill': 'black'
            });
            
            var status = dashboardConfig.paper.text($window.width() - 30, $window.height() - 30, '');
            status.attr({
                'text-anchor': 'end',
            });
            
            // Greater than 1 when someting is being saved to the database
            var saving = 0;
            
            function updateSaving(isPositiveIncrement) {
                saving += isPositiveIncrement ? 1 : -1;
                status.attr('text', saving <= 0 ? '' : 'Saving ...');
            }

            // PLACING_DEVICES variables
            var movingDevice = null,
                placeSwitch = false,
                placeServer = true,
                MOVEMENT_HEIGHT = 200;

            // DRAWING_CONNECTIONS variables
            var selectedDevice = null;

            var spaceIsDown = false,
                mouseIsDown = false;

            // The x and y values the mouse was at last frame
            var lastX = null,
                lastY = null,
                xChange = null,
                yChange = null;

            var highlightedTile = null,
                hoveredOverTile = null;

            function setHighlightedTile(tile) {
                if (highlightedTile != null)
                    highlightedTile.raphaelObj.attr('opacity', 1);
                highlightedTile = tile;
                if (highlightedTile != null)
                    highlightedTile.raphaelObj.attr('opacity', 0.5);
            }
            
            var $devices = $('svg image[layer="devices"]');
            
            $devices.live('mouseenter', function() {
                $(this.raphael.wrapper.tile.raphaelObj.node).mouseenter();
            }).live('mouseeout', function() {
                $(this.raphael.wrapper.tile.raphaelObj.node).mouseout();
            }).live('click', function(e) {
                $(this.raphael.wrapper.tile.raphaelObj.node).trigger('click', [e.pageX, e.pageY]);
            });
            
            
            var $tiles = $('svg image[layer="tiles"]');
            
            $tiles.hover(function() {
                hoveredOverTile = this.raphael.wrapper;
            }, function() {
                hoveredOverTile = null;
            });
            
            $tiles.stateBindings({
                viewing: {
                    click: function(e) {
                        // do nothing at the moment
                    },
                },
                placingDevices: {
                    click: function(e) {
                        if (movingDevice !== null && highlightedTile.device === null) {
                            if (moveDeviceToTile(movingDevice, highlightedTile)) {
                                movingDevice = null;
                            }
                        } else if (highlightedTile.device === null) {
                            var device = null;
                            if ($.stateBindings.activeStates.contains('placingSwitch')) {
                                device = new SwitchDevice();
                            } else if ($.stateBindings.activeStates.contains('placingServer')) {
                                device = new ServerDevice();
                            }
                            highlightedTile.addDevice(device);
                            var deviceGridPos = device.getGridPos();
                            // Indicate that some database interaction is going on.
                            updateSaving(true);
                            $.ajax({
                                url: '{% url api:dashboard:items %}',
                                type: 'post',
                                context: device,
                                data: {
                                    x: deviceGridPos.x,
                                    y: deviceGridPos.y,
                                    type: $.stateBindings.activeStates.contains('placingServer') ? 'server' :
                                        $.stateBindings.activeStates.contains('placingSwitch') ? 'switch' :
                                        'error',
                                    board: '{{ board.pk }}',
                                    csrfmiddlewaretoken: CSRF_TOKEN
                                },
                                success: function(data) {
                                    this.pk = data['id'];
                                    updateSaving(false);
                                },
                                error: function(data) {
                                    
                                    updateSaving(false);
                                },
                                dataType: 'json'
                            });
                        } else {
                            var device = highlightedTile.device;
                            device.moving = ! device.moving;
                            
                            if (device.moving) {
                                // If the device is now moving, update the
                                // global movingDevice reference
                                if (movingDevice !== null)
                                    movingDevice.setHighlighted(false);
                                movingDevice = device;

                                // Then visually highlight the device
                                device.setHighlighted(true);
                            } else {
                                movingDevice = null;
                                device.setHighlighted(false);
                            }
                        }
                    }
                },
                drawingConnections: {
                    click: function(e) {
                        var device = highlightedTile.device;
                    
                        console.log('working');

                        if (device !== null) {
                            if (selectedDevice == null) {
                                selectedDevice = device;
                            } else {
                                selectedDevice.connectTo(device);
                            
                                $window.resize();

                                // and then start the process over again.
                                selectedDevice = null;
                            }
                        }
                    }
                }
            });

            // Triggers the click event on a Tile
            function clickTile(i, j) {
                var tile = getTile(i, j);
                if (tile != null)
                    $(tile.raphaelObj.node).click();
            }

            // Returns a tile at the specified grid position
            // or null if it does not exist.
            function getTile(x, y) {
                if (x > {{ board.width_far }} || x < -{{ board.width_near }} || y > {{ board.depth_far }} || y < -{{ board.depth_near }})
                    return null;
                
                var posX = Math.abs(x),
                    posY = Math.abs(y);
                if (x > 0 && y > 0) {
                    return dashboardConfig.quadrants['topRight'].tiles[posX][posY];
                } else if (x < 0 && y > 0) {
                    return dashboardConfig.quadrants['topLeft'].tiles[posX][posY];
                } else if (x > 0 && y < 0) {
                    return dashboardConfig.quadrants['bottomRight'].tiles[posX][posY];
                } else if (x < 0 && y < 0) {
                    return dashboardConfig.quadrants['bottomLeft'].tiles[posX][posY];
                }
            }

            // Moves a device from is current tile to a new tile
            function moveDeviceToTile(device, newTile) {
                console.log(device.pk);
                var oldTile = device.tile;

                if (newTile == null || newTile.device != null) return false;

                device.raphaelObj.toFront();

                device.raphaelObj.animate({
                    // originX: newTile.getOriginX(),
                    // originY: newTile.getOriginY(),
                    x: newTile.raphaelObj.attr('x') + newTile.xOffset - device.xOffset,
                    y: newTile.raphaelObj.attr('y') + newTile.yOffset - device.yOffset,

                    opacity: 1,
                    scale: 1
                }, 200, function() {
                    // Move ownership of the device from the old tile
                    // to the new tile.
                    oldTile.device = null;
                    newTile.device = device;

                    // Update the device as to the tile on which it resides
                    device.tile = newTile;

                    // The device has been moved and is no longer moving
                    device.moving = false;

                    // Ensure that the device is layered correctly visually
                    dashboardConfig.layers['devices'].addAtPosition(device);

                    device.updateConnections();
                    
                    updateSaving(true);
                    $.ajax({
                        url: '{% url api:dashboard:items %}' + device.pk + '/',
                        type: 'PUT',
                        data: {
                            x: newTile.x,
                            y: newTile.y,
                            csrfmiddlewaretoken: CSRF_TOKEN
                        },
                        success: function(data) {
                            updateSaving(false);
                        },
                        error: function(data) {
                            updateSaving(false);
                        },
                        // dataType: 'json'
                    });
                });

                return true;
            }

            // Calculates whether a co-ordinate is to the right of
            // a line defined by two other co-ordinates
            function isPointRightOfLine(ax, ay, bx, by, px, py) {
                return (bx - ax) * (by - ay) < (px - ax) * (py - ay) + (bx - px) * (by - py) + (bx - px) * (py - ay) * 2;
            }

            // Updates the size of certain objects when the window
            // resizes.
            $window.resize(function() {
                rect.attr({
                    'width': $window.width(),
                    'height': $window.height()
                });
                
                current.attr({
                    y: $(window).height() - 30
                })
                
                status.attr({
                    x: $window.width() - 30,
                    y: $window.height() - 30
                })
            });
            
            function incSkipZero(val) {
                var newVal = val + 1;
                if (newVal == 0)
                    return 1;
                return newVal;
            }
            
            function decSkipZero(val) {
                var newVal = val - 1;
                if (newVal == 0)
                    return -1;
                return newVal;
            }
            
            $window.stateBindings({
                movingTiles: {
                    mousemove: function(e) {
                        if (xChange !== null && yChange !== null) {
                            // and translate the position of all tiles based upon
                            // the movement of the mouse since the last frame
                            for (var name in dashboardConfig.quadrants) {
                                dashboardConfig.quadrants[name].translate(xChange, yChange);
                            }
                        }
                    }
                },
                isInteractive: {
                    mousemove: function(e) {
                        if (hoveredOverTile != null) {
                            var points = hoveredOverTile.getPoints(),
                                gridPos = hoveredOverTile.getGridPos();

                            var northWest = false,
                                northEast = false,
                                southEast = false,
                                southWest = false;

                            northWest = ! isPointRightOfLine(points.left.x, points.left.y, points.top.x, points.top.y, e.pageX, e.pageY);
                            northEast = ! isPointRightOfLine(points.top.x, points.top.y, points.right.x, points.right.y, e.pageX, e.pageY);
                            southEast = ! isPointRightOfLine(points.right.x, points.right.y, points.bottom.x, points.bottom.y, e.pageX, e.pageY);
                            southWest = ! isPointRightOfLine(points.bottom.x, points.bottom.y, points.left.x, points.left.y, e.pageX, e.pageY);

                            if (northEast === true && northWest === true)
                                setHighlightedTile(getTile(incSkipZero(gridPos.x), incSkipZero(gridPos.y)));
                            else if (northWest === true)
                                setHighlightedTile(getTile(gridPos.x, incSkipZero(gridPos.y)));
                            else if (northEast === true)
                                setHighlightedTile(getTile(incSkipZero(gridPos.x), gridPos.y));
                            else if (southWest === true)
                                setHighlightedTile(getTile(gridPos.x, decSkipZero(gridPos.y)));
                            else if (southEast === true)
                                setHighlightedTile(getTile(decSkipZero(gridPos.x), gridPos.y));
                            else
                                setHighlightedTile(hoveredOverTile);
                        }
                    },
                    keydown: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // Space
                            case 32:
                                spaceIsDown = true;
                                $('html').css('cursor', 'move');
                                break;
                        }
                    },
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // space
                            case 32:
                                spaceIsDown = false;
                                $('html').css('cursor', 'default');
                                break;
                        }
                    }
                },
                editing: {
                    keyup: function(e) {
                        var code = e.keyCode ? e.keyCode : e.which;

                        switch (code) {
                            // s
                            case 83:
                                $.stateBindings.toggleState('placingSwitch');
                                $.stateBindings.toggleState('placingServer');

                                current.attr('text', $.stateBindings.activeStates.contains('placingSwitch') ? 'SWITCH' : 'SERVER');
                                break;

                            // c
                            case 67:
                                $.stateBindings.toggleState('drawingConnections');
                                $.stateBindings.toggleState('placingDevices');
                                
                                $('html').css('cursor', $.stateBindings.activeStates.contains('drawingConnections') ? 'crosshair' : 'default');
                                current.attr('text',
                                    $.stateBindings.activeStates.contains('drawingConnections') ? 'CONNECTIONS' :
                                    $.stateBindings.activeStates.contains('placingSwitch') ? 'SWITCH' :
                                    'SERVER'
                                );
                                console.log($.stateBindings.activeStates);
                                break;
                        }
                    }
                }
            });

            $window.keyup(function(e) {
                var code = e.keyCode ? e.keyCode : e.which;

                switch (code) {
                    // m
                    case 77:
                        $.stateBindings.toggleState('editing');
                        $.stateBindings.toggleState('viewing');
                        $('header').css('background-color', $.stateBindings.activeStates.contains('viewing') ? 'white' : 'blue');
                        
                        // Clean up states
                        if (! $.stateBindings.activeStates.contains('editing')) {
                            // $.stateBindings.removeState('placingSwitch');
                            // $.stateBindings.removeState('placingServer');
                            current.attr('text', '');
                        } else {
                            current.attr('text', $.stateBindings.activeStates.contains('placingSwitch') ? 'SWITCH' : 'SERVER');
                            $.stateBindings.addState('placingDevices');
                            $.stateBindings.addState('placingServer');
                        }
                        
                        break;
                }
            });
            
            $window.mousemove(function(e) {
                
                if (lastX !== null && lastY !== null) {
                    // Get the diffence in position since the last frame
                    xChange = e.pageX - lastX;
                    yChange = e.pageY - lastY;
                }
                
                lastX = e.pageX;
                lastY = e.pageY;
            });

            $window.mousedown(function(e) {
                if (spaceIsDown === true) {
                    $.stateBindings.addState('movingTiles');
                }
                e.preventDefault();
            });

            $window.mouseup(function(e) {
                $.stateBindings.removeState('movingTiles');
            });
            
            $.stateBindings.setState('viewing isInteractive');

        });
    </script>
{% endblock %}
