{% extends "definitions/definitions_base.html" %}

{% block content_class %}{{ block.super }} do-mibs{% endblock %}

{% block content_area %}
    <div id="path">
        <h1><a href="{% url definitions:data_object_list %}">Data Objects</a></h1> / <span>Upload New MIB</span>
    </div>
    
    <h4>Upload a new MIB</h4>
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Upload"></p>
    </form>
{% endblock %}