{% extends "core/core_base.html" %}

{% block body_id %}data-objects{% endblock %}

{% block content_area %}
    <h2>The List!</h2>
    
    <div id="data-object-list">
        {% if root_data_object_list %}
            {% with root_data_object_list as data_object_children %}
                {% include "core/includes/data_object_children_list.html" %}
            {% endwith %}
        {% else %}
            <p>TinyGraph has no "<code>DataObject</code>" entries. Run "<code>python manage.py create_data_objects</code>" to populate the database.</p>
        {% endif %}
    </div>
    
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var URL = '{% url api.views.data_object_children_list %}';
            
            $('#data-object-list').delegate('a', 'click', function() {
                var a = $(this);
                var li = a.closest('li');
                var ul = li.find('> ul');
                if (li.is('.open')) {
                    ul.slideUp(100);
                    li.removeClass('open');
                } else {
                    if (ul.length > 0) {
                        ul.slideDown(100);
                        li.addClass('open');
                    } else {
                        $.ajax({
                            url: URL,
                            type: 'POST',
                            data: {
                                data_object_pk: this.id,
                                csrf_token: '{{ csrf_token }}'
                            },
                            success: function(html) {
                                li.append(html);
                                li.find('> ul').hide().slideDown(100);
                                li.addClass('open');
                            },
                            error: function(data) {
                                console.log(data);
                            }
                        });
                    }
                }
                return false;
            })
        });
    </script>
{% endblock %}