{% extends "core/core_base.html" %}

{% block content_title %}{{ protocol }}{% endblock %}

{% block content_area %}
    <dl>
        <dd>{{ protocol.name }}</dd>
        <dd>{{ protocol.description }}</dd>
    </dl>
    
    <h3>Versions</h3>
    <ul>
        {% for protocol_version in protocol.versions.all %}
            <li><a href="{{ protocol_version.get_absolute_url }}">{{ protocol_version }}</a></li>
        {% endfor %}
    </ul>
    
    <p><a href="{% url tinygraph.apps.core.views.protocol_list %}">&#x2190; back</a></p>
{% endblock %}