{% extends "rules/rules_base.html" %}
{% load cache %}
{% load data_object_filters %}

{% block content_area %}
    <div id="path">
        <h1><a href="{{ device.get_absolute_url }}">{{ device.user_given_name }}</a></h1> <span>/ {{ package.title }}</span>
    </div>
    
    {% if data.individuals %}
        <table>
            <thead class="align-left">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for individual in data.individuals %}
                    <tr>
                        <td>{{ individual.full_name }}</td>
                        <td>{{ individual.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% for table in data.tables %}
        <h3>{{ table.full_name }}</h3>
        <table>
            <thead class="align-left">
                <tr>
                    {% for column in table.columns %}
                        <th>{{ column.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}